* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../img/money-5029288.webp) center/cover;
  height: 100vh;
  width: 100%;
}

header {
  //   background: black;

  .header-contain {
    text-align: center;
    margin: 20px 0;
  }
  .form {
    backdrop-filter: blur(10px);
    width: 60%;
    margin: 10px auto;
    padding: 20px 30px;
    .form-container {
      form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .name,
        .mail,
        .age,
        .other {
          display: flex;
          flex-direction: column;
        }
        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="submit"],
        select {
          width: 90%;
          height: 30px;
          border-radius: 5px;
          outline: none;
          border: 1px solid transparent;
        }
        textarea {
          width: 90%;
          height: 80px;
          border-radius: 5px;
          outline: none;
          border: 1px solid transparent;
          resize: none;
        }
      }
    }
  }
}
